{{!-- app/templates/actors/actor/movies.hbs --}}

{{#if @model.length}}
  <ul>
    {{#each @model as |movie|}}
      <li class="mb-2">
        {{movie.title}}
        <span class="float-right">
          <StarRating
            @rating={{movie.rating}}
            @onUpdate={{set movie "rating"}}
          />
        </span>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center">
    The actor has no movies yet.
  </p>
{{/if}}