{{!-- app/templates/actors/actor.hbs --}}
{{page-title "Movies | Software, Portfolio, Games, Portfolio with Octane!" replace=true}}
{{outlet}}
{{#if @model.length}}
  <ul>
    {{#each @model as |movie|}}
      <li class="mb-2">
        {{movie.title}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center">
    The actor has no movies yet.
  </p>
{{/if}}
