{{page-title "A Software Portfolio"}}

<div class="bg-blue-900 text-gray-100 pl-12 pt-8 h-screen">
  <h1 class="font-bold ml-6 text-2xl">
    Software, Portfolio, Games, Portfolio ... <span class="font-normal">with Octane</span>
  </h1>
  <div class="mx-auto mb-4 py-12">
    <div class="flex flex-wrap -mx-2">
      {{outlet}}
    </div>
  </div>
</div>
