{{page-title "Movies"}}

<ul>
  {{#each @model as |movie|}}
    <li class="leading-loose">
      {{movie.title}} starring {{movie.actor}} <span class="float-right">{{movie.rating}}</span>
    </li>
  {{/each}}
</ul>